body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #f0f2f5;
    color: #333;
}

nav {
    background-color: #fff;
    padding: 1rem;
    border-bottom: 1px solid #ddd;
    display: flex;
    justify-content: center;
}

nav a {
    margin: 0 1rem;
    text-decoration: none;
    color: #007bff;
    font-weight: bold;
}

header {
    background-color: #fff;
    padding: 1rem;
    border-bottom: 1px solid #ddd;
    text-align: center;
}

main {
    max-width: 800px;
    margin: 2rem auto;
    padding: 1rem;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.search-container {
    display: flex;
    margin-bottom: 1rem;
}

#stock-search {
    flex-grow: 1;
    padding: 0.5rem;
    border: 1px solid #ddd;
    border-radius: 4px;
}

#search-btn {
    padding: 0.5rem 1rem;
    border: none;
    background-color: #007bff;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
}

#stock-data-container {
    margin-top: 1rem;
}

#stock-data-container h2,
#stock-data-container h3 {
    color: #333;
    margin-bottom: 10px;
}

#stock-data-container ul {
    list-style-type: none;
    padding: 0;
}

#stock-data-container li {
    background-color: #f9f9f9;
    margin-bottom: 5px;
    padding: 10px;
    border-radius: 4px;
}

#stock-data-container p {
    line-height: 1.6;
}

#tradingview-chart-container {
    height: 400px;
    margin-top: 20px;
}

.logo {
    display: block;
    margin: 0 auto 10px;
    width: 100px;
    height: 100px;
}

.login-container {
    width: 300px;
    margin: 100px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.login-container input[type="password"] {
    width: calc(100% - 22px);
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.login-container button {
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.login-container button:hover {
    background-color: #45a049;
}

.flashes {
    list-style-type: none;
    padding: 0;
    margin-top: 10px;
    color: #D8000C;
    background-color: #FFD2D2;
    border: 1px solid #D8000C;
    border-radius: 4px;
    padding: 10px;
} 